<p>Your short URL has been created successfully!</p>

<input type="text"
       autofocus="autofocus"
       onfocus="this.select();"
       name="short_uri"
       value=<%= short_uri_for(@shortened_uri) %>
>
