<%= form_for(@shortened_uri, url: root_path) do |f| %>
  <% if @shortened_uri.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @shortened_uri.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :original_uri, id: 'original_uri', placeholder: 'Enter your URL here' %>
    <%= f.submit id: 'submit', value: 'and shorten it!' %>
  </div>
<% end %>
